body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(252, 252, 249);
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
    text-align: left;
}

h3{
    color:rgb(76, 78, 78);
}

.working-project-align{
    font-size: 20px;
}

p{
    color: dimgray;
}


.blue-highlight{
    color: blue;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    width: 80%;
}

.name-sec{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    box-shadow: 1px 1px 20px gray;
}

.about-sec{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.workin-project-measurment{
    width: 25%;
    border: 1px solid rgb(38, 42, 233);
    border-radius: 5px;
    
    
}
.working-project{
    background-color: rgb(244, 244, 252);
    height: 400px;
}

#measurment{
    height: 350px;
}

.working-project h2{
    text-align: center;
}

.work-inquary img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }